@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);
  --Bright-Blue: hsl(224, 93%, 58%);
  --Moderate-Cyan: hsl(170, 45%, 43%);
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  min-width: 100%;
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
}

/* hidden class */
.hidden {
  display: none;
}

/* Nav */
nav {
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
}
.nav_pages_link {
  display: flex;
  gap: 1em;
}
.nav_part1 a {
  font-size: 0.8em;
  text-decoration: none;
  color: var(--Very-Dark-Blue);
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.nav_part1 {
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_part2 {
  min-width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5em;
}
.nav_part2 img {
  width: 100%;
}
.nav_part2 .logo {
    
}
.nav_content {

}
.nav_part2 h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 1em 0;
  line-height: 1.5em;
}
.nav_part2 p {
  margin: 1em 1em;
  margin-bottom: 2em;
  line-height: 1.5em;
}
input {
  outline: none;
  border: 2px solid var(--Desaturated-Blue);
  padding: 0.8em 1em;
  border-radius: 0.6em;
}
.success {
  border-color: var(--Moderate-Cyan);
  background-color: hsla(170, 45%, 43%, 0.463);
}
.success_msg {
  color: hsla(170, 45%, 43%, 0.463);
  margin-top: -10px;
  margin-left: -10em;
  margin-bottom: 0.5em;
}
button {
  background-color: var(--Bright-Blue);
  color: var(--Light-Grayish-Blue);
  font-size: 1em;
  padding: 0.8em 0;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 0.6em;
  border: none;
}
button:hover {
  opacity: 0.8;
}

/* Main */
/* main {
  background-image: url(./images/bg-curve-desktop.svg);
} */

/* Media Query for Mobile and Tab */
@media (max-width: 62em) {
  .logo img {
    width: 50%;
  }
  .nav_pages_link {
    gap: 0.5em;
  }
  .nav_part2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
  }
  .nav_part2 img {
    width: 90%;
  }
  .nav_get_started {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav_get_started input {
    margin-bottom: 1em;
    width: 25em;
  }
  .nav_get_started button {
    margin-bottom: 1em;
    width: 21em;
  }

  /* Main */
  main {
    margin-top: 4em;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--Light-Grayish-Blue);
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .background_img {
    min-width: 100%;
    max-width: 100%;
    height: 8vh;
    position: absolute;
    background-image: url(./images/bg-curve-mobile.svg);
    background-repeat: repeat;
    top: -3%;
  }

  /* page1 */
  .page1_img img {
    margin-top: 2em;
    width: 80%;
    margin-bottom: 4em;
  }
  .page1_content h3 {
    color: var(--Very-Dark-Blue);
    margin-bottom: 1em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }
  .page1_content p {
    margin-bottom: 1em;
    padding: 1em;
  }
  .fylo_work_link {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    margin-bottom: 2em;
    cursor: pointer;
  }
  .fylo_work_link a {
    color: var(--Moderate-Cyan);
  }
  .testimonial {
    margin: auto;
    margin-bottom: 2em;
    width: 80%;
    background-color: white;
    border-radius: 0.5em;
    padding: 1em;
    box-shadow: 3px 3px 5px var(--Very-Dark-Blue);
  }
  .testimonial > img {
    width: 1.5em;
    display: block;
  }
  .testimonial b {
    display: block;
    padding: 1em;
  }
  .testimonial_profile {
    padding: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
    text-align: left;
    font-size: 0.9em;
  }
  .testimonial_profile_img img {
    width: 3em;
    border-radius: 50%;
  }
  /* Page2 */
  #page2 {
    margin: 1em 0;
    margin-bottom: 0;
    padding: 2em;
    background-color: var(--Desaturated-Blue);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #page2 h2 {
    font-family: "Raleway", sans-serif;
    margin-bottom: 1em;
  }
  #page2 p {
    font-family: "Raleway", sans-serif;
    margin-bottom: 1em;
  }
  .page2_input {
    display: flex;
    flex-direction: column;
  }
  .page2_input_box {
    width: 25em;
    margin-bottom: 1em;
  }
  .page2_input_btn {
    width: 21em;
  }

  /* Footer */
  footer {
    background-color: var(--Very-Dark-Blue);
    color: white;
    padding: 2em;
  }
  .footer_contactus {
    margin: 1em 0;
  }
  .footer_contactus img {
    width: 1em;
    margin-right: 0.5em;
  }
  .footer_links_part1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
  .footer_links_part2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
  .footer_links_part1 a,
  .footer_links_part2 a {
    color: white;
    text-decoration: none;
  }
  #attribution {
    color: white;
  }
  #attribution a {
    color: white;
  }
}
